/*
 * Стили для первого вступительного экрана
 */

.intro {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 800px;
  height: 740px;

  background: url("../img/egg_big.png") no-repeat center;
  background-size: contain;

  &--blur {
    transition: background-image 1s ease-in-out;
    background: url("../img/egg_distort.png") no-repeat center;
    background-size: 97.5%;
  }
}

.intro__asterisk {
  position: absolute;
  top: 290px;
  left: 395px;

  font-size: 172px;
  line-height: 128px;
}

.intro--blur .intro__asterisk {
  transition: all 1s ease-in-out;
  font-size: 80px;
  transform: translate(-13px, -185px);
  outline: none;
}

.intro__motto {
  margin: 0;
  margin-top: auto;
  position: relative;

  font-size: 18px;
}

.intro--blur .intro__motto {
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.intro__top {
  position: absolute;
  right: 0;
  top: 0;
}
